main {
  text-transform: uppercase;
  font-family: 'Bangers', cursive;
  font-size: 30px;
}

label {
  display: block;
}

button {
  display: block;
  border-radius: 30px;
  background: green;
  font-size: 30px;
  padding: 20px;
}

input {
  border-radius: 5px;
  border: 2px solid green;
  margin-bottom: 30px;
  padding: 20px;
}
